*.~*
*.~dsk
*.bin
*.cbk
*.dcu
*.deployproj
*.dproj.local
*.drc
*.dsk
*.dsv
*.exe
*.ficfg
*.identcache
*.json
*.local
*.map
*.mes
*.o
*.res
*.rsm
*.so
*.tvsconfig
*.vsf
*.xml
__recovery.ini
/22.0_Android_Debug
/22.0_Android64_Debug
/22.0_Linux_Debug
/22.0_Linux64_Debug
/22.0_Win32_Debug
/22.0_Win32_Release
/Demo/FMX/Demo AutoHeightRectangle/37.0_Android64_Debug
/Demo/FMX/Demo AutoHeightRectangle/Android64
/Demo/FMX/Demo LightPanel/__recovery
/Demo/FMX/Demo SystemReport/37.0_Android64_Debug
/Demo/FMX/Template - Minimal app + External log/37.0_Android64_Debug
/Demo/FMX/Template - Minimal app + External log/CompiledResources
/Demo/FMX/Template - Minimal app + External log/FMX_MinimalApp_WithLog2/library
/Demo/FMX/Template - Minimal app + External log/FMX_MinimalApp_WithLog2/res
/Demo/FMX/Template - Minimal app/37.0_Android64_Debug
/Demo/Template App/FMX Minimal/FmxTemplateMicro/res
/Demo/Tester All Visual Controls/21.0
/Demo/VCL/Demo AutoTranslator/competition.url
/Demo/VCL/Template App Full/__recovery
/Demo/VCL/Template Universal Uninstaller/icon.ico
Demo/All Visual Controls/22.0/Win32_Debug/DemoAllVisualControls.exe
Demo/Demo Binary file/DemoBinaryFile.exe
Demo/Demo Binary file/Soldier.bin
Demo/FMX/Demo LightLog/LogFile.log
Demo/Template App/FMX Minimal/FMXTemplateMicro.exe
Demo/Template App/FMX Minimal/TemplateMicro.exe
Demo/Template App/FMX Minimal/Win32
Demo/Template App/FMX Minimal2/Project1.exe
Demo/Template App/FMX Minimal2/Win32/Debug/Project1.exe
Demo/Template App/TemplateApp.delphilsp.json
Demo/Template Universal Uninstaller/BUG REPORTS.LNK
Demo/Tester All Visual Controls/Demo_VisualControls.prjmgc
Demo/Tester AutoTranslator/competition.url
Demo/Tester LightCore ccStreamBuff.pas/TCubicBuffStream.bin
Demo/Tester LightCore ccWinVersion.pas/Tester_WinVers.drc
desktop.ini
External/Exif/Documentation/ FROM EXILON REPOSITORY.URL
External/Exif/Documentation/dummzeuch_ccr-exif Automatically exported from code.google.com_p_ccr-exif.url
External/GifParser original.pas
External/GifParser_original_.pas
External/GifProperties (orig).pas
FrameFMX/AI
FrameVCL/AI
HardwareID/chHardID.pas
System/Credits.lnk
System/Eula.txt
uLinks.pas
External/Exif/ bug report
External/Exif/ last update 2025.11
/_Frozen Streams
_AI.pas
/     CANNOT SET STYLE
/__recovery
*.res
