_AI
/Demo/FMX/Template - Minimal app/37.0_Android64_Debug
/Demo/FMX/Template - Minimal app/37.0_Android64_Debug
/Demo/FMX/Template - Minimal app/37.0_Android64_Debug/CompiledResources
/Demo/FMX/Template - Minimal app/37.0_Android64_Debug
/Demo/FMX/Template - Minimal app/37.0_Android64_Debug
